Hi There!

Looks like you got a new submission on your form.

Here's the data:

<%= for {key, value} <- @submission.form_data do %>
  <%= key %>
  ----------
  <%= value %>

<% end %>


Additional Data
---------------
IP Address: <%= @submission.ip_address |> nil_as_na %>
  City: <%= @submission.ip_city |> nil_as_na %>
  Region: <%= @submission.ip_region_code |> nil_as_na %>
  Country: <%= @submission.ip_country_code |> nil_as_na %>
